/* big tablet */
@media only screen and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

/* tablets */
@media only screen and (max-width: 1023px) {
  .about {
    padding: 10rem 10rem;
    align-items: center;
  }

  #avatar {
    width: 15rem;
    height: 15rem;
  }
}

/* bigger phones */
@media only screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #avatar {
    display: block;
    float: none;
    margin-bottom: 2rem;
  }

  .using {
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .want-to-use {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* small phones */
@media only screen and (max-width: 480px) {
  i {
    color: red;
  }

  .circle-container {
    z-index: 10;
  }

  #title {
    top: 30%;
  }

  .about {
    padding: 2rem;
  }
  .card {
    width: 90%;
  }

  .card-left {
    align-self: center;
    padding: 3rem;
  }

  .footer {
    padding: 1rem;
  }

  .footer-wrapper {
    width: 90%;
  }
}
