* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
    no-repeat center fixed;
  background-size: cover;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* height: 100%; */
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #5e5d5d;
}

/* HEADER */

header {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 5rem;
  letter-spacing: 1rem;
  margin-top: -6rem;
  padding-left: 1rem;
  text-transform: lowercase;
}
#title span {
  display: block;
  margin-bottom: 2rem;
}

#together {
  color: #fff;
  animation: together 2.5s linear 0.7s;
  animation-fill-mode: backwards;
}

@keyframes together {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.arrow-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: rgba(245, 245, 245, 0.527);
  background-color: #5e5d5d6c;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.arrow-down:hover {
  color: rgb(245, 245, 245);
}

/* ABOUT */
.about {
  padding: 7rem 20rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.card {
  width: 70%;
  background: white;
  margin-bottom: 20rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  line-height: 1.8;
  border-radius: 10px;
  padding: 3rem;
}

.card-left {
  display: flex;
  align-self: flex-start;
  margin-left: 3.5rem;
}

#avatar {
  border-radius: 50%;
  margin-right: 2.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-self: center;
  width: 25rem;
  height: 25rem;
  float: left;
  --webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}

.card p {
  text-align: justify;
}

.card-stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.stack-gallery {
  display: flex;
  flex-direction: column;
}

.stack-gallery i {
  width: 50px;
  height: 50px;
}

.using {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.want-to-use {
  width: auto;
}

.want-to-use i {
  margin-right: 5rem;
}

.stack-gallery i {
  font-size: 5rem;
  margin: 1rem;
  transition: all 0.3s;
}

.stack-gallery i:hover,
.contact i:hover {
  transform: scale(1.3);
}

#html-icon:hover {
  color: #e44d26;
}

#css-icon:hover {
  color: #3c99dc;
}

#sass-icon:hover {
  color: #b37399aa;
}

#js-icon:hover {
  color: #f0db4f;
}

#git-icon:hover {
  color: #ed5132;
}

#github-icon:hover {
  color: #9656b1;
}

#react-icon:hover {
  color: #00d4f9;
}

#gulp-icon:hover {
  color: #ce4945;
}

#figma-icon:hover {
  color: #a058fc;
}

#node-icon:hover {
  color: #76c718;
}

.projects-list {
  width: 50%;
}

.project {
  padding: 0;
  overflow: hidden;
}

.card-left.project-two {
  padding: 0;
}

.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: -1rem;
  transition: all 0.2s;
  z-index: -1;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  position: relative;
}

figure .blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

figure:hover .blur {
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.5);
}

figure:hover img {
  transform: scale(1.1);
  filter: blur(2px);
  z-index: -1;
}

figcaption {
  position: absolute;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  display: none;
  color: #fff;
}

figure:hover figcaption {
  display: flex;
  opacity: 1;
}

.project-icons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 1.5rem;
}

.project-icons i {
  font-size: 3rem;
  color: #fff;
}

.project-icons i:hover {
  color: #e67e22;
}

.components {
  flex-direction: row;
}

.components p {
  margin-bottom: 0.8rem;
}

.hover-link {
  color: #e67e22;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem;
  transition: all 0.2s;
}

a:link,
a:visited {
  text-decoration: none;
}

.hover-link:hover,
.contact p:hover {
  transform-origin: top left;
  transform: rotate(-4deg);
  background-color: #1b2735;
}

.donut {
  position: relative;
  width: 20rem;
  height: 20rem;
  transition: all 1s;
  align-self: center;
  margin-left: 10rem;
}

.donut:hover {
  transform: rotate(360deg);
}

.donut-body {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f77778;
  border: 2px solid #003459;
}

.donut-body:before {
  content: '';
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #faa7a8;
  top: 3px;
  right: 3px;
  border-radius: 50%;
}

.donut-body:after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #003459;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 32px;
  height: 16px;
  position: absolute;
  border: 3px solid #003459;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 44px;
  left: 84px;
}

.face:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #003459;
  position: absolute;
  top: -20px;
  left: -16px;
  box-shadow: 48px 0 0 #003459;
}

.highlight {
  width: 40px;
  height: 40px;
  border: 8px solid white;
  border-top: 0;
  border-right: 0;
  position: absolute;
  left: 50px;
  top: 105px;
  border-bottom-left-radius: 50px;
  opacity: 0.5;
}

.contact-form {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: -1rem;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact i {
  font-size: 4rem;
  transition: all 0.2s;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 2.2rem;
  transition: all 0.2s;
}

.contact p:hover {
  color: #e67e22;
}

.contact a {
  color: inherit;
}

small {
  align-self: center;
}

.info-to-copy {
  margin-bottom: 3rem;
}

.hidden {
  visibility: hidden;
}

/* 
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.btn {
  cursor: pointer;
  display: inline-block;
  width: 80%;
  background-color: #e67e22;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 5px;
  border: 0;
  color: white;
  transition: all 0.2s;
  margin-bottom: 1.5rem;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 3rem;
}

.form-control {
  position: relative;
  margin: 2rem 0 4rem;
  width: 80%;
}

.form-control input,
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #5e5d5d solid;
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #5e5d5d;
}

textarea {
  border: 2px #5e5d5d solid;
  border-radius: 10px;
  padding: 2rem;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 1.4;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #e67e22;
}

textarea:focus,
textarea:valid {
  outline: 0;
  border-color: #e67e22;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 10px;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
textarea:focus + label span,
textarea:valid + label span {
  color: #e67e22;
  transform: translateY(-5rem);
} */

.footer {
  width: 100%;
  background-color: #2d3436;
  color: #fff;
  padding: 5rem 10rem;
  margin-top: -10rem;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 70%;
}

.hover-footer {
  display: inline-block;
  transition: all 0.2s;
}
.hover-footer:hover {
  transform-origin: top left;
  transform: rotate(-8deg) scale(1.2);
  background-color: #1b2735;
  color: #e67e22;
}
